{{ define "content" }}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1>Flows</h1>
</div>

<table class="table">
  <tbody>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Unlogged</th>
      <th scope="col">Created</th>
      {{ range .Flows }}
    <tr>
      <th><a href="{{ route `flow` .Name }}">{{ .Name }}</a></th>
      <td>{{ with .Description }}{{ . }}{{ else }}-{{ end }}</td>
      <td>{{ if .Unlogged }}Unlogged{{ else }}-{{ end }}</td>
      <td>{{ formatTime .CreatedAt }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>
{{ end }}