{{ define "content" }}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1>Queues</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <button type="button" class="btn btn-sm btn-outline-secondary">
        <span data-feather="plus"></span>
        Create queue
      </button>
    </div>
  </div>
</div>

<table class="table">
  <tbody>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Topics</th>
      <th scope="col">Unlogged</th>
      <th scope="col">Delete at</th>
    </tr>
    {{ range .Queues }}
    <tr>
      <th>{{ .Name }}</th>
      <td>
        {{ range .Topics }}
        <span class="badge bg-secondary">{{ . }}</span>
        {{ end }}
      </td>
      <td>{{ if .Unlogged }}Unlogged{{ end }}</td>
      <td>{{ formatTime .DeleteAt }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>
{{ end }}