{{define "content"}}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Workers</h1>
</div>

<table class="table">
  <tbody>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Tasks</th>
      <th scope="col">Started at</th>
      <th scope="col">Last heartbeat at</th>
    {{ range .Workers }}
    <tr>
      <th>{{ .ID }}</th>
      <td>
        {{ range .Tasks}}
        <span class="badge bg-secondary">{{ . }}</span>
        {{ end }}
      </td>
      <td>{{ .StartedAt }}</td>
      <td>{{ .LastHeartbeatAt }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>
{{end}}