{{ define "content" }}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1>Workers</h1>
</div>

{{ template "workers-table" . }}
{{ end }}

{{ define "workers-table" }}
<div id="workers-table" hx-get="/workers" hx-trigger="every 2s" hx-swap="outerHTML">
<table class="table">
  <tbody>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Handlers</th>
      <th scope="col">Started</th>
      <th scope="col">Last heartbeat</th>
    </tr>
    {{ range .Workers }}
    <tr>
      <th>{{ .ID }}</th>
      <td>
        {{ range .TaskHandlers}}
        <span class="badge rounded-pill text-bg-info">{{ .TaskName }}</span>
        {{ end }}
        {{ range .StepHandlers}}
        <span class="badge rounded-pill text-bg-info">{{ .FlowName }}/{{ .StepName }}</span>
        {{ end }}
      </td>
      <td>{{ formatTime .StartedAt }}</td>
      <td>{{ formatTime .LastHeartbeatAt }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>
</div>
{{ end }}